In [2]:
import os

os.chdir('data')
os.chdir('html_job_postings')

In [3]:
import urllib
import codecs
from bs4 import BeautifulSoup as soup
file_list = os.listdir(os.curdir)

In [29]:
print(file_list[0])
file =codecs.open(file_list[0],"rb")
file1 =file.read()
file1 =str(file1)
first_page = soup(file1)
header = first_page.find('head')
header = header.get_text()
print(header)

1e92960a19ffdd34_fccid.html
Quantitative Analyst - Boston, MA 02116

In [30]:
body = first_page.find('body')
body = body.get_text()
print(body)

Quantitative Analyst - Boston, MA 02116\nQuantitative Analyst (State Street Bank and Trust Company; Boston, MA): The Quantitative Analyst will be part of State Street Treasury\xe2\x80\x99s Treasury Quantitative Analytics (TQA) group. TQA is responsible for developing/implementing/monitoring advanced financial models that are used in company\xe2\x80\x99s capital management, liquidity management, investment portfolio construction, and balance sheet optimization. The group is accountable for in-depth understanding, modeling, and representation of the complex interaction of global markets, customer behaviors, and regulatory oversights to create a view of risk/revenue opportunities and exposures to the investment committee, Board of Directors, senior management, and regulatory agencies. The Quantitative Analyst role is a key contributor to the realization of the GT\xe2\x80\x99s mission of optimizing net interest income within the desired risk appetite position. Specific responsibilities include: apply advanced statistical techniques to analyze the characteristics of the bank\xe2\x80\x99s liabilities (including deposit balance forecast, deposit attrition rate and deposit pricing), using time-series analysis, survival analysis, and non-parametric regressions; experience with machine learning techniques such as principal component analysis, regression trees, and non-linear models; conduct in-depth quantitative analysis on how macroeconomic changes impact the bank\xe2\x80\x99s balance sheet positions and understand the interest rate risks of the bank in different economic cycles; apply solid knowledge of CCAR, DFAST, and Basel regulations and developed stress testing models to quantify capital and liquidity risks; create and maintain model documentation that meets corporate model risk standards including model development and implementation papers; ensure proper ongoing monitoring of model performance including back-testing and performance reviews; and work closely with key business partners and senior management to understand the business needs and conditions and determine the analytical tools and data needed; serve as the subject matter experts on product analysis and modeling with regulatory agencies and internal oversight functions.\nMinimum requirements: Master\xe2\x80\x99s degree in Econometrics, Mathematics, Statistics, or a related quantitative field plus 2 years of quantitative modeling experience including at least one year in a large, complex financial institution with a broad exposure to all lines of businesses of a custodial bank.\nMust have: demonstrated experience modeling complex financial concepts using non-linear, error correction, survival, and time-series models, Monte Carlo simulations and unsupervised and supervised machine learning, and other advanced quantitative techniques; proven knowledge of liquidity and capital stress testing, CCAR, and deposit modeling experience required; proven solid ability working with large and complex data sets including relational databases and complex queries using both SQL Server and My SQL; demonstrated proficiency in R/SAS/Matlab coding and working knowledge of Excel VBA, Eviews, python, and Cloudera Data Science Workbench; deep and broad understanding of all kinds of financial instruments like loans and deposits, as well as derivatives like options and futures; CFA candidates desired; demonstrated strong written and verbal communication skills and ability to present material to various audiences including upper management and regulators; and proven ability to take initiative, adapt and learn quickly, and be a self-starter. (Unless otherwise indicated, State Street is seeking the ability in the skills listed above with no specific amount of experience required. All experience can be gained concurrently).\nA pply online at statestreet.com/careers . State Street Job ID: R-620670 . An EOE.\n\xe2\x80\x9c#LI-DNI\xe2\x80\x9d

Now I'll loop through all of the html files in the list and generate the following headers:
job_title,job_location,body,experience (from body),experience (from bullets),tools (from body),tools (from bullets)

In [31]:
import re

data_header = []
data_body = []
data_experience_bullets = []
data_experience_paragraph = []
data_tools_bullets = []
data_tools_paragraph = []





for i in range(0,len(file_list)):
    file =codecs.open(file_list[i],"rb")
    file1 =file.read()
    file1 =str(file1)
    page = soup(file1)
    
    header = page.find('head')
    header = header.get_text()
    
    
    data_header.append(header)
    body = page.find('body')
    body = body.get_text()
    data_body.append(body)
    
    
    bullets = page.find_all('li')
    bullet_points = []
    for bullet in bullets:
        bullet = bullet.get_text()
        bullet_points.append(bullet)
        
    experience_bullets = []
    tools_bullets = []

    for bullet in bullet_points:
        substring = ["tools","languages"]
        counter = 0
        for word in substring:
            if word in bullet.lower():
                counter += 1
        if counter > 0:
            bullet = bullet.replace("\\n","")
            tools_bullets.append(bullet)

    for bullet in bullet_points:
        substring = "experience"
        if substring in bullet.lower():
            bullet = bullet.replace("\\n","")
            experience_bullets.append(bullet)
    data_experience_bullets.append(experience_bullets)
    data_tools_bullets.append(tools_bullets)
    
    paragraphs = page.find_all('p')

    experience_paragraph = []
    tools_paragraph = []

    for paragraph in paragraphs:
        paragraph = paragraph.get_text()
        sentences = re.split('[;.]',paragraph)
        for sentence in sentences:
            substring = 'experience'
            if substring in sentence.lower():
                sentence = sentence.strip()
                sentence = sentence.replace("\\n","")
                experience_paragraph.append(sentence)

    for paragraph in paragraphs:
        paragraph = paragraph.get_text()
        sentences = re.split('[;,]',paragraph)
        for sentence in sentences:
            counter = 0
            substring = ['tools','languages']
            for word in substring:
                if word in sentence.lower():
                    counter += 1
            if counter > 0:
                sentence = sentence.strip()
                sentence = sentence.replace("\\n","")
                tools_paragraph.append(sentence)

    data_experience_paragraph.append(experience_paragraph)
    data_tools_paragraph.append(tools_paragraph)
    

data = [data_header,data_body,data_experience_bullets,data_experience_paragraph,data_tools_bullets,data_tools_paragraph]

In [32]:
import pandas as pd

In [34]:
df = pd.DataFrame(data).transpose()
df.columns = ['Job Title','Body','Experience_From_Bullets','Experience_From_Body','Tools_From_Bullets','Tools_From_Body']

In [35]:
df.head(10)

,Job Title,Body,Experience_From_Bullets,Experience_From_Body,Tools_From_Bullets,Tools_From_Body
0,"Quantitative Analyst - Boston, MA 02116","Quantitative Analyst - Boston, MA 02116\nQuant...",[],[experience with machine learning techniques s...,[],[and work closely with key business partners a...
1,"Data Scientist - Mountain View, CA","Data Scientist - Mountain View, CA\nGroundTrut...","[Has experience in Statistics, Machine Learnin...",[],[],[]
2,"Data Scientist - Seattle, WA","Data Scientist - Seattle, WA\nA Bachelor or Ma...",[A Bachelor or Masters Degree in a highly quan...,[],[],[]
3,Senior Natural Language Processing (NLP) Engin...,Senior Natural Language Processing (NLP) Engin...,[Have experience building statistical models t...,[We want you to bring out your unique experien...,[],[and tools to deeply understanding what was sa...
4,"FLEXO FOLDER GLUER OPER - McClellan, CA - McCl...","FLEXO FOLDER GLUER OPER - McClellan, CA - McCl...",[],[PCA is proud to have a highly skilled and exp...,[],[]
5,"Junior Data Scientist - College Park, MD 20740","Junior Data Scientist - College Park, MD 20740...",[Data Science: 2+ years of experience with R a...,[This person should be experienced with extrac...,[],[safety and security problems. The junior data...
6,"Data Scientist - New York, NY","Data Scientist - New York, NY\nDescription\nDS...",[4+ year\xe2\x80\x99s professional experience ...,[],"[Languages: Python, PySpark, SQL, Data Tools: ...",[]
7,Business Analyst - Medical Claims Data Project...,Business Analyst - Medical Claims Data Project...,"[Bachelor\'s degree in a related field, or equ...",[We are currently seeking an experienced Proje...,[],[]
8,"(Entry-Level) Data Scientist - Chicago, IL","(Entry-Level) Data Scientist - Chicago, IL\nDa...",[1-3 years of professional experience as a Dat...,[The Experience You\xe2\x80\x99ll Need (Requir...,[Additional object & functional oriented progr...,[]
9,"Data Scientist, Analytics - Seattle, WA 98101","Data Scientist, Analytics - Seattle, WA 98101\...",[2+ years experience doing quantitative analys...,[],[Experience in SQL or other programming langua...,[]

In [36]:
df[df['Job Title'].str.contains('Data')]

,Job Title,Body,Experience_From_Bullets,Experience_From_Body,Tools_From_Bullets,Tools_From_Body
1,"Data Scientist - Mountain View, CA","Data Scientist - Mountain View, CA\nGroundTrut...","[Has experience in Statistics, Machine Learnin...",[],[],[]
2,"Data Scientist - Seattle, WA","Data Scientist - Seattle, WA\nA Bachelor or Ma...",[A Bachelor or Masters Degree in a highly quan...,[],[],[]
5,"Junior Data Scientist - College Park, MD 20740","Junior Data Scientist - College Park, MD 20740...",[Data Science: 2+ years of experience with R a...,[This person should be experienced with extrac...,[],[safety and security problems. The junior data...
6,"Data Scientist - New York, NY","Data Scientist - New York, NY\nDescription\nDS...",[4+ year\xe2\x80\x99s professional experience ...,[],"[Languages: Python, PySpark, SQL, Data Tools: ...",[]
7,Business Analyst - Medical Claims Data Project...,Business Analyst - Medical Claims Data Project...,"[Bachelor\'s degree in a related field, or equ...",[We are currently seeking an experienced Proje...,[],[]
...,...,...,...,...,...,...
1326,"Data Science & Tagging Analyst - Bethesda, MD ...","Data Science & Tagging Analyst - Bethesda, MD ...",[Minimum five (5) years of experience manipula...,[],[],[]
1329,"Data Scientist - New York, NY","Data Scientist - New York, NY\nWhat you will d...","[Experience with Python, Experience with open ...",[],[],[]
1332,"Data Scientist - Birmingham, AL 35233","Data Scientist - Birmingham, AL 35233\nSUMMARY...",[],[],[],[]
1333,"Senior Data Scientist - Tempe, AZ","Senior Data Scientist - Tempe, AZ\nCircle K is...",[Ability to query large data sets using SQL or...,[],[],[]
1336,"Data Scientist - Bellevue, WA","Data Scientist - Bellevue, WA\nExperienced in ...",[Experienced in handling large data sets using...,[],[],[]